name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  backend-lint-and-test:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: backend
    strategy:
      fail-fast: true
      matrix:
        node-version: ["18", "20"]
        os: ["ubuntu-22.04"]

    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
      - uses: actions/setup-node@d7a11313b581b306c961b506cfc8971208bb03f6 # v4.4.0
        with:
          node-version: 20
          cache: npm
          # Point cache action at the specific lock-file path
          cache-dependency-path: backend/package-lock.json
      - name: Install dependencies
        run: npm ci -- prefer-offline --no-audit
      - name: Run lint
        run: npm run lint
      - name: Run tests
        run: npm run test