name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: app-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Build:
    uses: zainasr/github-action/.github/workflows/build-test.yml@main
    with:
      node-version: "18"
      run-lint: true

  Deploy:
    runs-on: ubuntu-latest
    needs: Build
    if: success() && github.ref == 'refs/heads/main'
    steps:
      - name: Deploy
        run: echo "Deploying..."
